<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Biogem-Regular.ttf</string>
		<string>Biogem-Medium.ttf</string>
		<string>Biogem-Bold.ttf</string>
		<string>Biogem-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
	</array>
</dict>
</plist>
